# ignore python artifacts
**/__pycache__
venv

# ignore ide artifacts
.vscode

conf/config.ini

*.pyc

export/
export_omp/
export_ojs/

# local test confs
conf/config_local_omp.ini
conf/config_local_ojs.ini
conf/config.omp.ini
dspace/bin/delete_import.sh
authorized_keys
