[general]
    api_token = <token>
    endpoint_contexts = /api/v1/contexts
    endpoint_issues = /api/v1/issues
    journal_server = <https://ojs.example.com>
    # 	Monograph / Article
    type = Article


[export]
    export_path = ./export
    collection = 123456789/26132
    doi_prefix = http://dx.doi.org/

[scp]
    # dspace server
    server = ojs.example.com
    user = <user>
    # path to key
    key_filename = /home/<user>/.ssh/<id_rsa_ojs>

[docker]
    container = <dspace-container-name>
    user = dspace

[dspace]
    # dspace executable
    # eperson = omp@example.com
    # docker_dspace = /opt/dspace/repo/bin/dspace
    # docker_mapfile = /opt/dspace/repo/infrastructure/ojs_omp/map/
    # docker_zipsource = /opt/dspace/repo/infrastructure/ojs_omp/source/
    server_zipsource = /opt/dspace-test/volumes/infrastructure/ojs_omp/source/
    server_doifiles = /opt/dspace-test/volumes/infrastructure/ojs_omp/doi/
    # extra = --disable_inheritance

