[general]
    api_token = <token>
    endpoint_contexts = /api/v1/contexts
    endpoint_issues = /api/v1/issues
    journal_server = <https://ojs.example.com>
    # 	Monograph / Article
    type = Article
    # delete dspace import afterwards
    dry-run = true

[export]
    export_path = ./export
    collection = <handle e.g. 123456789/26132>

[meta]
    dc.identifier.external = issue.id
    dc.description.abstract = context.description[locale]
    dc.date.issued = issue.year
    dc.date.available = issue.datePublished

    local.accessrights.dnb = "free"
    local.openaccess = "true"
    local.bibliographicCitation.number = issue.number
    local.bibliographicCitation.volume = issue.volume

[scp]
    # dspace server
    server = <https://dspace.example.com>
    user = <user (keyowner)>
    # path to key
    key_filename = /home/<keyowner>/.ssh/id_rsa


[docker]
    container = dspace-test_dspace_1
    user = dspace

[dspace]
    # dspace executable
    docker_dspace = /opt/dspace/repo/bin/dspace
    mapfile_folder = /opt/dspace/repo/infrastructure/ojs_omp/map/
    eperson = axel.bauer@bibliothek.uni-halle.de
    source = /opt/dspace/repo/infrastructure/ojs_omp/source/
    extra = --disable_inheritance